<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>My Blog</h1></div>
    </div>
    {% for blog_post in blog: %}
    <div class="content">
        <div class="card">
            <h2>{{ blog_post['title'] }}</h2>
            <p class="text">{{ blog_post['subtitle'] }} </p>
            <a href="{{ url_for('blog', blog_id= blog_post['id']) }}">Read</a>
        </div>
    </div>
    {% endfor %}
</div>
</body>
<footer>
    <p>© copyright 2021</p>
</footer>
</html>